html{
  box-sizing: border-box;
}

*,
*::after,
**::before {
  box-sizing: inherit;
}

ul,
ol{
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
a {
text-decoration: none;
color: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainPage {
  width: 100%;
  background-image: url('./images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

nav ul a {
  font-size: 20px;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 20px 10px;
  background-color: rgba(255, 255, 255, 0.799);
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.movie-card {
  transition: 0.3s;
}

.movie-card:hover {
  transform: scale(1.02);
}

.search-btn {
  position: absolute;
  top: 3px;
  right: 14px;
}

.movie-poster {
  height: 440px;
}

.searchSettings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  height: 50px;
}

[type="radio"]:not(:checked)+span, [type="radio"]:checked+span .searchDescr {
  font-size: 23px;
}

.input-field .helper-text {
  font-size: 14px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  font-size: 25px;
}